{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>
      {% for gig in gigs %}
        <div class="row">
          <div class="col-md-8">
            <h2>{{ gig.title }}</h2>
            <p>{{ gig.description }}</p>
            <p>{{ gig.price }} <p>
            <p><a class="btn btn-default" href="{{ url( 'app_gigs_show', { 'id': gig.id } ) }}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      {% endfor %}
    <p>Home page</p>
{% endblock %}
